header
    padding: 15px 0 400px 0
    background-image: url("Assets/header-bg.jpg")
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    
@media screen and (min-width: 992px)
    header
        .navbar
            .imgbox
                img
                    height: 32px
                    width: 180px
            nav
                ul
                    display: flex
                    justify-content: center
                    align-items: center
                    justify-content: space-between
                    li
                        margin-right: 10px
                        a
                            font-size: 18px
                            color: #ffffff
                            margin-right: 30px
                            &:hover
                                color: #ffc800
            .menubox
                position: absolute
                h6, i
                    display: none
        .headertext
            display: inline
            h1
                color: #ffffff
                font-weight: 700
                font-size: 72px
                margin-bottom: 64px
                letter-spacing: 8px

            h2
                color: #ffffff
                font-weight: 500
                font-size: 36px
                margin-bottom: 32px

        .btn
            margin-top: 30px
            a
                border: 1px solid #ffc800
                border-radius: 5px
                color: #ffffff
                background: #ffc800
                font-size: 22px
                font-weight: 700
                padding: 20px 50px
                &:hover
                    background-color: #d9aa00
        .headtext
            position: relative
            top: 200px
@media screen and (max-width: 991px)
    header
        padding: 200px 0 300px 0
        background-image: url("Assets/header-bg.jpg")
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        .navbar
            background: #212529
            position: fixed
            left: 0px
            right: 0px
            top: 0px
            padding: 10px 70px
            .imgbox
                img
                    height: 32px
                    width: 180px
            nav
                ul
                    li
                        a
                            display: none
            .menubox
                position: static
                border: 1px solid #383b3f
                border-radius: 5px
                height: 40px
                width: 85px
                h6, i
                    display: flex
                h6
                    color: #979397
                    font-weight: 700
                    font-size: 15px
                    margin-right: 10px
                i
                    font-size: 12px
                    color: #979397
        .headertext
            h1
                color: #ffffff
                font-weight: 700
                font-size: 72px
                margin-bottom: 64px
                letter-spacing: 8px

            h2
                color: #ffffff
                font-weight: 500
                font-size: 36px
                margin-bottom: 32px
        .btn
            margin-top: 20px
            a
                border: 1px solid #ffc800
                border-radius: 5px
                color: #ffffff
                background: #ffc800
                font-size: 18px
                letter-spacing: 3px
                font-weight: 700
                padding: 20px 40px
                &:hover
                    background-color: #d9aa00
        .headtext
            position: relative
            top: 80px

@media screen and (max-width: 767px)
    header
        padding: 60px 0 150px
        background-image: url("Assets/header-bg.jpg")
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        .container
            display: flex
            flex-wrap: inherit
            justify-content: space-between
            align-items: center
        .navbar
            padding: 16px 0
            position: fixed
            top: 0px
            right: 0px
            left: 0px
        .headertext
            h2
                color: #ffffff
                font-weight: 500
                font-size: 24px
                margin-bottom: 15px
            h1
                color: #ffffff
                font-weight: 700
                font-size: 52px
                margin-top: 10px
                letter-spacing: 5px
        .headtext
            position: relative
            top: 90px
        .btn 
            a
                border: 1px solid #ffc800
                border-radius: 5px
                color: #ffffff
                background: #ffc800
                font-size: 18px
                letter-spacing: 2px
                font-weight: 700
                padding: 20px 40px
                &:hover
                    background-color: #d9aa00
//     padding: 10px 0 400px 0
//     background-image: url("Assets/header-bg.jpg")
//     background-repeat: no-repeat
//     background-position: center center
//     background-size: cover
//     .box
//         display: inline
//         justify-content: space-between
//         position: fixed
//         right: 100px
//         left: 100px
//         top: 0px
//         padding: 20px 0

//     .imgbox
//         img
//             height: 32px
//             width: 187px
//     .box
//         nav
//             display: flex
//             justify-content: space-between
//             ul
//                 display: inline
//                 align-items: center
//                 margin: 20px 0
//                 li
//                     a
//                         font-size: 18px
//                         color: #ffffff
//                         margin-right: 30px
//                         &:hover
//                             color: #ffc800
//     .btnbox
//         margin-top: 30px
//         .btn
//             border: 1px solid #ffc800
//             color: #ffffff
//             background: #ffc800
//             font-size: 22px
//             font-weight: 700
//             padding: 20px 50px
//             &:hover
//                 background-color: #d9aa00

// @media screen and (max-width: 991px)
//     header
//         .box
//             background: #212529
//             position: fixed
//             left: 0px
//             right: 0px
//             top: 0px
//             padding: 10px 70px
//         nav
//             a
//                 display: none
//         .menubox
//             border: 1px solid #383b3f
//             border-radius: 5px
//             height: 40px
//             width: 85px
//             padding: 5px 8px
//             h5
//                 color: #979397
//                 font-weight: 700
//                 font-size: 15px
//                 margin-right: 10px
//             i
//                 font-size: 12px
//                 color: #979397
//         .headertext
//             h2
//                 color: #ffffff
//                 font-weight: 500
//                 font-size: 50px
//             h1
//                 color: #ffffff
//                 font-weight: 700
//                 font-size: 70px
//                 margin-top: 30px
//                 letter-spacing: 10px
// @media screen and (min-width: 992px)
//     header
//         padding: 272px 0 200px 0
//         .menubox
//             h5, i
//                 display: none
//         .headertext
//             h2
//                 color: #ffffff
//                 font-weight: 500
//                 font-size: 36px
//                 margin-bottom: 32px
//             h1
//                 color: #ffffff
//                 font-weight: 700
//                 font-size: 72px
//                 margin-bottom: 64px
//                 letter-spacing: 8px
//         .imgbox
//             img
//                 height: 70px
//                 width: 200px
// @media screen and (max-width: 767px)
//     header
//         padding: 150px 0 100px
//         background-image: url("Assets/header-bg.jpg")
//         background-repeat: no-repeat
//         background-position: center center
//         background-size: cover
//         .headertext
//             h2
//                 color: #ffffff
//                 font-weight: 500
//                 font-size: 30px
//             h1
//                 color: #ffffff
//                 font-weight: 700
//                 font-size: 60px
//                 margin-top: 20px
//                 letter-spacing: 5px
//         .box
//             position: fixed
//             right: 0px
//             left: 0px
//             top: 0px
//             padding: 10px 50px
//         .btnbox
//             margin-top: 20px 0
