#services
    padding: 96px 0
    .box
        display: flex
        justify-content: center
        .icon
            display: flex
            justify-content: center
            align-items: center
            height: 140px
            width: 140px
            background-color: #ffc800
            border-radius: 70px
            i
                color: #ffffff
                font-size: 70px
                text-align: center
    .textbox
        h2
            font-size: 40px
            font-weight: 700
            color: #212529
            margin-bottom: 16px
            letter-spacing: 3px
        h3
            font-size: 16px
            font-weight: 400
            color: #6c757d
            margin-bottom: 64px
            letter-spacing: 1px
        h4
            font-size: 24px
            color: #212529
            margin: 16px 0
        p
            font-size: 16px
            color: #6c7781
            margin-bottom: 16px
            line-height: 1.5
