body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

a {
  color: orange;
}
a:hover {
  color: black;
}

.imgbox img {
  width: 100%;
}

header {
  padding: 18px 0;
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
@media screen and (min-width: 992px) {
  header .navbar nav a {
    font-size: 18px;
    color: #ffffff;
    margin-right: 30px;
  }
  header .navbar nav a:hover {
    color: #ffc800;
  }
  header .navbar .menubox {
    position: absolute;
  }
  header .navbar .menubox h6, header .navbar .menubox i {
    display: none;
  }
  header .imgbox img {
    height: 32px;
    width: 187px;
  }
}
@media screen and (max-width: 991px) {
  header .navbar .imgbox img {
    height: 24px;
    width: 140px;
  }
  header .navbar nav a {
    display: none;
  }
  header .navbar .menubox {
    position: static;
    border: 1px solid #383b3f;
    border-radius: 5px;
    height: 40px;
    width: 85px;
  }
  header .navbar .menubox h6, header .navbar .menubox i {
    display: flex;
  }
  header .navbar .menubox h6 {
    color: #979397;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
  }
  header .navbar .menubox i {
    font-size: 12px;
    color: #979397;
  }
}
@media screen and (max-width: 575px) {
  header .navbar {
    display: flex;
    flex-flow: row wrap;
  }
}

#welcome {
  padding: 15px 0 480px 0;
  background-image: url("Assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  #welcome .wlcmtext {
    display: inline;
  }
  #welcome .wlcmtext h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 64px;
    letter-spacing: 8px;
  }
  #welcome .wlcmtext h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 40px;
  }
  #welcome .btn a {
    border: 1px solid #ffc800;
    border-radius: 5px;
    color: #ffffff;
    background: #ffc800;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 50px;
  }
  #welcome .btn a:hover {
    background-color: #d9aa00;
  }
  #welcome .row {
    position: relative;
    top: 270px;
  }
}
@media screen and (max-width: 991px) {
  #welcome .wlcmtext h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 64px;
    letter-spacing: 8px;
  }
  #welcome .wlcmtext h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 32px;
  }
  #welcome .btn {
    margin-top: 20px;
  }
  #welcome .btn a {
    border: 1px solid #ffc800;
    border-radius: 5px;
    color: #ffffff;
    background: #ffc800;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    padding: 20px 40px;
  }
  #welcome .btn a:hover {
    background-color: #d9aa00;
  }
  #welcome .row {
    position: relative;
    top: 260px;
  }
}
@media screen and (max-width: 767px) {
  #welcome {
    padding: 213px 0 100px;
    background-image: url("Assets/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  #welcome .container {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center;
  }
  #welcome .wlcmtext h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
  }
  #welcome .wlcmtext h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 52px;
    margin-top: 10px;
    letter-spacing: 5px;
    margin-bottom: 15px;
  }
  #welcome .row {
    position: relative;
    top: -35px;
  }
  #welcome .btn a {
    border: 1px solid #ffc800;
    border-radius: 5px;
    color: #ffffff;
    background: #ffc800;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 20px 40px;
  }
  #welcome .btn a:hover {
    background-color: #d9aa00;
  }
}
@media screen and (max-width: 280px) {
  #welcome .btn {
    display: flex;
    flex-wrap: wrap;
  }
  #welcome .btn a {
    letter-spacing: 0;
  }
}

#services {
  padding: 96px 0;
}
#services h2 {
  font-size: 32px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 16px;
  letter-spacing: 3px;
}
#services h3 {
  font-size: 16px;
  font-weight: 400;
  color: #6c757d;
  margin-bottom: 64px;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */